h1 {
    font-size: 45em;
    color: royalblue;

}body {
    background-image: url('IMG_0620.jpeg');
    background-size: 150px;
    width: 300px;
    height: 300px;
    border: 2px solid;
    color: whitesmoke;
  }
  h1 {text-align: center;
  }
h2 {text-align: center;
  } 
p {text-align: center;
 }     