h1 {
    font-size: 25em;
    color: royalblue;

}body {
    background-image: url('IMG_0620.jpeg');
    background-size: contain;
  }
  h1 {text-align: center;
  }
h2 {text-align: center;
  } 
p {text-align: center;
 }     